.footer {
  padding: 25px 0;
  background: var(--background-footer-color);
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    font-size: 26px;
    text-align: center;
    color: var(--text-color);
    span:first-of-type {
      background: linear-gradient(
        to top,
        rgba(255, 215, 0, 1) 0%,
        rgba(255, 215, 0, 1) 42%,
        rgba(0, 87, 183, 1) 42%,
        rgba(0, 87, 183, 1) 100%
      );
      background-clip: text;
      color: transparent;
    }
  }
}
