.portfolio {
  /* min-height: 100vh; */
  padding: 70px 0 90px;
  background: var(--background-secondary-color);
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
  }
  &__title {
    margin: 0 auto 30px;
  }
  &__switchers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__switch {
    width: 200px;
    height: 50px;
    margin: 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border: 2px solid var(--text-color);
    background: transparent;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color);
    outline: none;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    &_active {
      background: var(--btn-hover-color);
      color: var(--btn-hover-text-color);
    }
  }
}

.item {
  margin: 10px;
  width: 355px;
  height: 305px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  background: var(--portfolio-card-color);
  &__preview {
    display: block;
    width: 100%;
    height: 200px;
    position: relative;
    .overlay {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      opacity: 0;
      background: rgba(0, 0, 0, 0.55);
      user-select: none;
      transition: all 0.25s ease-in-out;
      z-index: 1;
      &__text {
        font-size: 26px;
        font-weight: 700;
        color: var(--portfolio-overlay-text-color);
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.75);
  }
  &__info {
    padding: 9px 15px;
    height: 105px;
    color: var(--text-color);
    display: grid;
    grid-template: repeat(2, auto) / 55% 45%;
    gap: 10px 5px;
    background: var(--portfolio-card-color);
  }
  &__title {
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
  }
  &__descr {
    font-style: italic;
  }
  &__stack {
    &-list {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: underline dotted;
      text-align: center;
      &:hover {
        .item__stack-wrapper {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    &-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.75);
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
      transition: all 0.25s ease-in-out;
      border-radius: 10px;
      padding: 5px 10px;
    }
    &-item {
      height: 22px;
      width: 22px;
      margin: 1px 2px;
      img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }
  }
  &__github {
    text-align: center;
    color: var(--text-color);
    text-decoration: none;
  }
  &__descr,
  &__stack-list,
  &__adaptivity,
  &__github {
    font-size: 16px;
  }
  &__blank {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      color: var(--text-color);
      font-size: 32px;
      opacity: 0.75;
      animation: fade 5s infinite ease-in-out;
    }
  }
  &_visible {
    display: block;
  }
  &_hidden {
    display: none;
  }
  &_visible-to-hidden {
    animation: visible-to-hidden 0.5s ease-in-out;
  }
  &_hidden-to-visible {
    animation: hidden-to-visible 0.5s ease-in-out;
  }
}
