@keyframes fade {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.01;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes visible-to-hidden {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes hidden-to-visible {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
