@media (hover: hover) and (pointer: fine) {
  .btn {
    &:hover {
      background: var(--btn-hover-color);
      a {
        color: var(--btn-hover-text-color);
      }
    }
  }
  .hamburger {
    &:hover {
      .hamburger__lines {
        width: 30px;
      }
    }
  }
  .menu {
    &__item {
      &:hover {
        &:before {
          background-color: var(--menu-text-color);
        }
      }
    }
  }
  .languages {
    &:hover {
      height: 190px;
      /* height: 250px; */
      /* transform: translateY(-25%); */
    }
    &__item {
      &:hover {
        opacity: 1;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.75);
        transform: scale(1.05);
      }
    }
  }
  .profile {
    &__stack {
      &-item {
        &:hover {
          transform: scale(0.95);
        }
      }
    }
    &__social {
      a {
        &:hover {
          color: var(--social-hover-color);
        }
      }
    }
    &__cv {
      &-item {
        &:hover {
          background: var(--btn-hover-color);
          a {
            color: var(--btn-hover-text-color);
          }
        }
      }
    }
  }
  .certificates {
    &__item {
      &:hover {
        .certificates__overlay {
          opacity: 1;
          visibility: visible;
        }
        box-shadow: 0 20px 44px -16px var(--portfolio-card-shadow-color);
        transform: translateY(-6px);
      }
    }
  }
  .social {
    &__link {
      &:hover {
        color: var(--social-hover-color);
      }
    }
  }
  .portfolio {
    &__switch {
      &:hover {
        background: var(--btn-hover-color);
        color: var(--btn-hover-text-color);
      }
    }
    &__item:hover {
      .overlay {
        opacity: 1;
        visibility: visible;
      }
      box-shadow: 0 20px 44px -16px var(--portfolio-card-shadow-color);
      transform: translateY(-6px);
    }
  }
}
