.social {
  position: fixed;
  left: 50px;
  top: 50%;
  transform: rotate(-90deg) translateX(-50%);
  transform-origin: left center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  &__text {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
    color: var(--text-color);
  }
  &__line {
    width: 70px;
    height: 2px;
    background: var(--text-color);
  }
  &__link {
    color: var(--text-color);
    transform: rotate(90deg);
    margin-left: 10px;
    font-size: 35px;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
    svg {
      width: 35px;
      height: 35px;
    }
  }
}
