.theme {
  position: fixed;
  top: 33px;
  left: 25px;
  z-index: 11;
  display: block;
  width: 60px;
  height: 34px;
  &__toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -6px;
    right: 0;
    bottom: 0;
    background-color: rgb(49, 30, 37);
    transition: all 0.5s ease-in-out;
    border-radius: 17px;
    &:before {
      position: absolute;
      content: '';
      height: 40px;
      width: 40px;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto 0;
      transition: all 0.5s ease-in-out;
      box-shadow: 0 0 15px rgba(32, 32, 32, 0.239);
      background: rgb(255, 255, 255) url('../icons/toggle/light.svg') 50%/65% no-repeat;
      border-radius: 50%;
    }
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .theme__toggle {
      background-color: var(--background-invert-color);
      &:before {
        transform: translateX(30px);
        background: rgb(255, 255, 255) url('../icons/toggle/dark.svg') 50%/65% no-repeat;
      }
    }
    &:focus + .theme__toggle {
      box-shadow: 0 0 1px var(--background-main-color);
    }
  }
}

@media (max-width: 1199px) {
  .theme {
    width: 34px;
    height: 60px;
    top: 25px;
    &__toggle:before {
      top: -25px;
    }
    input:checked + .theme__toggle:before {
      transform: translateY(30px);
    }
  }
}
