:root {
  --loader-background-color: #d8d8d8;
  --loader-outer-color: #3498db;
  --loader-center-color: #e74c3c;
  --loader-inner-color: #f9c922;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  background-color: var(--loader-background-color);
  /* background-image: linear-gradient(-105deg, #009acc, #363795); */
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#loader {
  display: inline-flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--loader-outer-color);
  animation: spin 2s linear infinite;
}
#loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--loader-center-color);
  animation: spin 3s linear infinite;
}
#loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--loader-inner-color);
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
