.icon {
  display: inline-flex;
  &.path {
    &_currentColor svg path {
      fill: currentColor;
    }
  }
  &.stroke {
    &_currentColor svg path {
      stroke: currentColor;
    }
  }
  &.ellipse {
    &_currentColor svg ellipse {
      fill: currentColor;
    }
  }
}
