@import '../../../assets/styles/fonts.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: background-color 0.15s ease-in-out, opacity 0.5s ease-in-out, left 0.5s ease-in-out;
  max-width: 320px;
  background-color: var(--menu-background-color);
  z-index: 11;
  visibility: hidden;
  padding: {
    top: 96px;
    bottom: 40px;
    left: 40px;
    right: 40px;
  }
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  &.active {
    opacity: 1;
    left: 0;
    visibility: visible;
  }
  .list {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
}

.languages {
  display: flex;
  height: 48px;
  gap: 12px;
  justify-content: center;
}

.socials {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  .item {
    color: var(--menu-text-color);
    .icon {
      width: 36px;
      height: 36px;
    }
  }
}

// .lock-scroll {
// 	margin-right: 0;
// 	overflow: hidden;
// 	height: 100%;
// }

// .scrollbar_active.lock-scroll {
// 	margin-right: 17px;
// 	.hamburger_active {
// 		transform: translateX(-17px);
// 		right: calc(100% - 347px);
// 	}
// }
