.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 40px;
  gap: 28px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 28px;
  padding-bottom: 40px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 12px;
}

.button {
  width: 200px;
  height: 50px;
  font-size: 20px;
}

@media (max-width: 499px) {
  .button {
    width: #{'min(100%, 360px)'};
  }
}
